@media(max-width:380px){
    body{
        max-width: 380px;
        min-width: 0px;
    }
    .container{
        max-width: 380px;
        min-width: 0px;
    }
    header{
        max-width: 380px;
        min-width: 0px;
    }
    .header_container{
        max-width: 364px;
        min-width: 0px;
        margin: 0;
    }
    .logo_svg{
        background-size: auto;
    }
    .main_container{
        height: 4676px;
        max-width: 380px;
        min-width: 0px;
    }
    .Gift_text_container{
        max-width: 364px;
        width: 100%;
        height: 240px;
    }
    .Gift_nav_container{
        max-width: 354px;
        min-width: 0px;
        width: 100%;
        margin-top: 20px;
    }
    .nav_gift{
        max-width: 354px;
        width: 100%;
    }
    .Gift_grid_container{
        max-width: 364px;
       min-width: 0px;
        grid-template-columns: 310px;
        grid-template-rows:342px 342px 342px 342px 342px 342px 342px 342px 342px 342px 342px 342px;
    }
    footer{
        max-width: 380px;
        min-width: 0px;
        height: 928px;
    }
    .footer_container{
        max-width: 364px;
        min-width: 0px;
        height: 808px;
    }
    .footer_box_container{
        max-width: 364px;
        min-width: 0px;
    }
    .footer_box{
        max-width: 364px;
    }
    .footer_contacts_container{
        max-width: 364px;
        min-width: 0px;
    }
}